html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 50px;
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}

.footer .text-muted {
	margin: 20px 0;
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand {
	font-family: sans-serif;
	font-weight: normal;
}

#intro {
	margin-top:20px;
}

#intro .alert a {
	color: red;
}

.party-row .wrap {
	padding: 5px;
}

.political-party {
	margin: 0;
	background: #aaaaaa;
	border-radius: 5px;
	text-align: center;
}


.political-party a {
	color: #ffffff;
	font-size: 1.3em;
	font-weight: 600;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 5px;
}

#major-parties .political-party a {
	padding: 30px 5px;
}

#other, #side {
	margin: 10px 0;
	padding: 0;
}

#conservatives, #scottishtory, #welshtory {
	background: #0096db;
}

#labour, #scottishlabour, #welshlabour {
	background: #da1500;
}

#libdem, #scottishlibdems, #welshlibdems {
	background: #ffb602;
}

#greens, #walesgreens {
	background: #78b82a;
}

#ukip {
	background: #722889;
}

#dup {
	background: #c8292b;
}

#sinnfein {
	background: #006837;
}

#sdlp {
	background: #005a42;
}

#alliance {
	background: #f2d303;
}

#uup {
	background: #0c0c48;
}

#scottishgreen {
	background: #60a531;
}

#snp {
	background: #ecd411;
}

#ssp {
	background: #ed1b24;
}
#plaid {
	background: #3f8429;
}